@import '../../base/mixins';
@import '../../base/ease';

@keyframes titleTransition {
  0% {
    transform: translate3d(0, 50px, 0);
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes scollLabelTransition {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.HeroSection {
  @include size(100%, calc(100vh - 30px));
  background-color: $purple-dark;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 $global-gutter;
  position: relative;

  .display1,
  .scroll-label {
    color: $orchid;
  }

  .display1 {
    max-width: 1440px;
    margin: 0 auto;
    animation: titleTransition 1200ms $cubic-ease-out;
    animation-delay: 500ms;
    animation-fill-mode: backwards;
  }

  .scroll-label {
    position: absolute;
    bottom: 25px;
    text-align: center;
    width: calc(100% - 120px);
    // left: 50%;
    // transform: translateX(-50%);
    animation: scollLabelTransition 1000ms $cubic-ease-out;
    animation-delay: 1500ms;
    animation-fill-mode: backwards;
  }


  @include breakpoint(tablet) {
    padding: 0 $global-gutter-tablet;
  }

  @include breakpoint(mobile) {
    padding: 0 $global-gutter-mobile;
  }

  @include breakpoint(mobile-s) {
    padding: 0 $global-gutter-mobile-s;
  }
}