@import '../../base/mixins';

.HeroSection {
  @include size(100%, calc(100vh - 40px));
  background-color: $purple-dark;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 $global-gutter;
  position: relative;

  .display1,
  .scroll-label {
    color: $orchid;
  }

  .scroll-label {
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
  }

  @include breakpoint(tablet) {
    padding: 0 $global-gutter-tablet;
  }

  @include breakpoint(mobile) {
    padding: 0 $global-gutter-mobile;
  }

  @include breakpoint(mobile-s) {
    padding: 0 $global-gutter-mobile-s;
  }
}