@import '../../base/mixins';

.HeroSection {
  @include size(100%, calc(100vh - 50px));
  background-color: $purple-dark;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 $global-gutter;

  .display1 {
    color: $orchid;
  }
}