@import '../../base/mixins';

.ProjectItem {
  margin: 0 0 50px 0;
  display: block;

  .display2 {
    color: $black;
  }

  .copy {
    color: $blue-lighter;
    font-size: 1.4rem;
    font-style: italic;
  }
}