@import '../../base/mixins';

.ProjectItem {
  margin: 0 0 60px 0;
  display: block;

  &.lastItem {
    margin: 0;
  }

  .title {
    color: $purple-dark;

    span {
      display: block;
    }
  }

  .subtitle {
    color: $purple;
    // margin-top: 8px;
  }

  @include breakpoint(mobile) {
    margin: 0 0 40px 0;

    .subtitle {
      // margin-top: 5px;
    }
  }
}