@import '../../base/mixins';
@import '../../base/ease';
@import '../../base/ui';

.ProjectItem {
  margin: 0 0 60px 0;
  display: block;

  &.lastItem {
    margin: 0;
  }

  .title {
    color: $purple-dark;
    transform: translate3d(0,0,0);
    transition: transform 500ms $cubic-ease-out;
    position: relative;

    &::before {
      position: absolute;
      top: 35px;
      left: -96px;
      content: '';
      width: 0px;
      height: 8px;
      background-color: $red;
      transition: width 500ms $cubic-ease-out;
    }

    span {
      display: block;
    }
  }

  .subtitle {
    color: $purple;
    transform: translate3d(0,0,0);
    transition: transform 500ms $cubic-ease-out;
  }

  &:hover {
    .title {
      &::before {
        width: 85px;
      }
    }

    .subtitle,
    .title {
      transform: translate3d(42px,0,0)
    }
  }

  @include breakpoint(tablet) {
    .title {
      &::before {
        left: -85px;
        height: 7px;
      }
    }

    &:hover {
      .title {
        &::before {
          width: 70px;
        }
      }
    }
  }

  @include breakpoint(mobile) {
    margin: 0 0 40px 0;

    .title {  
      &::before {
        display: none;
      }
    }

    &:hover {
      .title,
      .subtitle {
        transform: translate3d(0,0,0);
      }
    }
  }
}