@import '../base/mixins';

.Footer {
  @include size(100%, $footer-height);
  padding: 0 $global-gutter;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $baby-peach;

  ul {
    list-style-type: none;

    li {
      display: inline-block;
      padding: 0 10px;
      font-size: 1.1rem;
  
      &:first-child {
        padding: 0 10px 0 0;
      }
  
      &:last-child {
        padding: 0 0 0 10px;
      }
  
      a {
        color: $red;
      }
    }
  }

  .copyright {
    color: $peach;
    font-size: .9rem;
  }

  @include breakpoint(tablet) {
    padding: 0 $global-gutter-tablet;
  }

  @include breakpoint(mobile) {
    padding: 0 $global-gutter-mobile;
    height: $footer-height-mobile;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;

    .copyright {
      margin-top: 12px;
    }
  }

  @include breakpoint(mobile-s) {
    padding: 0 $global-gutter-mobile-s;
    align-items: center;

    ul {
      li {
        font-size: 1rem;
      }
    }
  }
}