@import '../base/mixins';

.Header {
  @include size(100%, auto);
  padding: 0 40px;
  position: fixed;
  top: 0;
  right: 0;
  text-align: right;
  z-index: 10;

  ul {
    list-style-type: none;
    margin-top: 40px;

    .active {
      text-decoration: line-through;
    }


    li {
      margin-bottom: 12px;
      font-family: 'Karla', sans-serif;
      font-size: 1.4rem;

      &.home {
        font-size: 1.5rem;
        font-weight: 700;
      }

      &:last-child {
        margin-bottom: 0;
      }

      a {
        color: $red;
      }
    }
  }

  // &.isAboutPage {
  //   ul {
  //     li {
  //       a {
  //         color: $lavender-lighter;
  //       }
  //     }
  //   }
  // }
}