@import '../base/mixins';

.Header {
  @include size(100%, auto);
  padding: 0 50px;
  position: fixed;
  top: 0;
  right: 0;
  text-align: right;
  z-index: 10;

  ul {
    list-style-type: none;
    margin-top: 40px;

    .active {
      // color: $purple;
    }
  }

  li {
    margin-bottom: 15px;
    font-family: 'Karla', sans-serif;
    font-size: 1.3rem;

    &.home {
      font-size: 1.4rem;
      font-weight: 700;
    }

    &:last-child {
      margin-bottom: 0;
    }

    a {
      color: $lavender-lighter;
    }
  }
}