@import '../../base/mixins';

.ProjectNav {
  padding: 0 40px;
  position: fixed;
  top: 105px;
  right: 0;
  text-align: right;

  ul {
    li {
      margin-bottom: 10px;
      font-family: 'Karla', sans-serif;
      font-size: 1.3rem;
      font-style: italic;

      &:last-child {
        margin-bottom: 0;
      }

      a {
        color: $purple;
      }
    }
  }

  @include breakpoint(tablet) {
    padding: 0 25px;
  }

  @include breakpoint(mobile) {
    padding: 0 18px;
  }

  @include breakpoint(mobile-s) {
    padding: 0 10px;
  }
}