@import '../../base/mixins';

.ProjectDetailSection {
  @include size(100%);
  padding: $global-top $global-gutter 50px;
  background-color: $baby-peach;

  .subtitle {
    margin-top: 8px;
  }

  .detail-item-list {
    margin-top: 30px;

    li {
      color: $purple
    }
  }

  .content-wrapper {
    margin-top: 20px;
  }

  .content {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    flex-direction: column;

    &:first-child {
      margin-top: 0;
    }

    &.no-image,
    &.no-copy {
      // margin-top: 15px;
    }

    &.no-image {

    }

    &.no-copy {
      .img-container {
        margin-bottom: 0;
      }
    }

    .img-container {
      width: 100%;
      height: auto;
      margin-bottom: 15px;
      border: 2px solid $white;
  
      .img {
        width: 100%;
        height: auto;
      }
    }

    .copy {
      width: 100%;
    }
  }

  @include breakpoint(tablet) {
    padding: $global-top-tablet $global-gutter-tablet 50px;

    .copy {
      width: 100%;
    }
  }

  @include breakpoint(mobile) {
    padding: $global-top-mobile $global-gutter-mobile 70px;

    .subtitle {
      margin-top: 5px;
    }

    .content {
      .img-container {
        border: 2px solid $white;
      }
    }
  }

  @include breakpoint(mobile-s) {
    padding: $global-top-mobile-s $global-gutter-mobile-s 70px;

    .subtitle {
      span {
        display: block;
      }
    }

    // .copy {
    //   margin-top: 30px;
    // }
  }
}