@import '../../base/mixins';

.ProjectDetailSection {
  @include size(100%);
  padding: 80px $global-gutter 100px;

  .title {
    font-size: 4.8rem;
  }

  .subtitle {
    margin-top: 10px;
  }

  .description {
    margin-top: 50px;
  }
}