@import '../../base/mixins';

.ProjectDetailSection {
  @include size(100%);
  padding: $global-top $global-gutter 50px;
  background-color: $baby-peach;

  .subtitle {
    margin-top: 8px;
  }

  .copy {
    margin-top: 50px;
  }

  @include breakpoint(tablet) {
    padding: $global-top-tablet $global-gutter-tablet 50px;
  }

  @include breakpoint(mobile) {
    padding: $global-top-mobile $global-gutter-mobile 50px;

    .copy {
      margin-top: 40px;
    }

    .subtitle {
      margin-top: 5px;
    }
  }

  @include breakpoint(mobile-s) {
    padding: $global-top-mobile-s $global-gutter-mobile-s 50px;

    .copy {
      margin-top: 30px;
    }
  }
}