@import './ease';
@import './mixins';

.ui-link {
  display: inline-block;
  position: relative;

  &::after {
    position: absolute;
    bottom: 0px;
    left: 0;
    content: '';
    width: 0%;
    height: 2px;
    background-color: $red;
    transition: width 500ms $cubic-ease-out;
  }

  &:hover {
    &::after {
      width: 100%;
    }
  }

  @include breakpoint(tablet) {
    &::after {
      display: none;
    }
  }
}

.ui-list-subtitle {
  color: $purple-dark;
  margin-bottom: 20px;
  font-weight: 700;
}

.ui-lazy-load-img-container {
  overflow: hidden;
  height: 0;
  position: relative;
}

.ui-lazy-load-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  opacity: 0;
}

.ui-lazy-load-img-placeholder {
  position: absolute;
  top: 0;
  left: 0;
}