// colors 
$white: #ffffff;
$black: #000000;

$blue: #2892D7;
$blue-lighter: #6DAEDB;

$purple: #8670bb;
$lavender: #b2a4d4;
$lavender-lighter: #ece9f5;

// sizes
$global-gutter: 80px;
$global-gutter-tablet: 50px;
$global-gutter-mobile: 20px; 

$bp-desktop: 1280px;
$bp-tablet: 1024px;
$bp-mobile: 768px;
$bp-mobile-s: 480px;