// colors 
$white: #ffffff;
$black: #000000;

// $baby-peach: #fceee9;
$baby-peach: #fcf3ef;
$peach: #f0a990;
$red: #d20e35;
$purple-dark: #554087;
$purple: #8670bb;
$orchid: #D2BBFF;

// sizes
$global-gutter: 100px;
$global-gutter-tablet: 60px;
$global-gutter-mobile: 40px; 
$global-gutter-mobile-s: 25px;

$global-top: 110px;
$global-top-tablet: 90px;
$global-top-mobile: 70px;
$global-top-mobile-s: 60px;

$project-margin-top: 40px;
$project-margin-top-mobile: 30px;

$footer-height: 140px;
$footer-height-mobile: 120px;

$bp-desktop: 1025px;
$bp-tablet: 1024px;
$bp-mobile: 768px;
$bp-mobile-s: 480px;