@import '../../base/mixins';
@import '../../base/ui';

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.AboutSection {
  min-height: calc(100vh - #{$footer-height});
  padding: $global-top $global-gutter 100px;
  background-color: $baby-peach;
  max-width: 1440px;
  margin: 0 auto;

  .title {
    font-size: 2.8rem;
    color: $purple-dark;
    margin-bottom: $project-margin-top;
  }

  .upper-container {
    display: flex;

    .left-container {
      padding-right: 70px;
      width: 65%;
  
      .copy-list {
        li {
          margin-bottom: 18px;
  
          &:last-child {
            margin-bottom: 0;
          }

          a {
            color: $red;
          }
        }
      }
    }

    .right-image-container {
      width: 35%;
      padding-top: 39%;
      @extend .ui-lazy-load-img-container;

      .img {
        @extend .ui-lazy-load-img;
      }

      .is-loaded {
        opacity: 1;
        animation: fadeIn 500ms linear;
      }
  
      .placeholder {
        @extend .ui-lazy-load-img-placeholder;
      }
    }
  }

  .list-container {
    display: flex;
    margin-top: 70px;

    .experience,
    .education {
      .subtitle {
        @extend .ui-list-subtitle;
      }

      li {
        margin-bottom: 25px;

        &:last-child {
          margin-bottom: 0;
        }

        .item {
          color: $purple;

          &:first-child {
            color: $purple-dark;
            font-weight: 700;
          }
  
          a {
            color: $purple;
            @extend .ui-link;
          }
        }
      } 
    }

    .education {
      margin-right: 70px;
    }
  }

  @include breakpoint(tablet) {
    padding: $global-top-tablet $global-gutter-tablet 100px;

    .title {
      font-size: 2.6rem;
      margin-top: 30px;
      margin-bottom: $project-margin-top-mobile;
    }

    .upper-container {
      .left-container {
        padding-right: 50px;
        width: 62%;
      }
  
      .right-image-container {
        width: 38%;
        padding-top: 42%;
      }
    }
  }

  @include breakpoint(mobile) {
    padding: $global-top-mobile $global-gutter-mobile 50px;

    .title {
      font-size: 2.4rem;
    }

    .upper-container {
      flex-direction: column;
      width: 100%;

      .left-container {
        width: 100%;
        padding-right: 0;
        order: 2;
        margin-top: 20px;

        .copy {
          font-size: 1.1rem;

          span {
            display: inline-block;
          }
        }
      }
  
      .right-image-container {
        width: 50%;
        order: 1;
        position: relative;
        right: auto;
        padding-top: 55%;
      }
    }

    .list-container {
      flex-direction: column;
      margin-top: 50px;

      .experience,
      .education {
        .subtitle {
          margin-bottom: 20px;
        }

        li {
          margin-bottom: 15px;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }

      .education {
        margin: 0 0 50px 0;
      }
    }
  }

  @include breakpoint(mobile-s) {
    align-items: center;
    padding: $global-top-mobile-s $global-gutter-mobile-s 50px;

    .title {
      font-size: 2.2rem;
      width: 100%;
    }

    .upper-container {
      .left-container {
        width: 100%;
      }

      .right-image-container {
        width: 100%;
        padding-top: 109.7%;
      }
    }

    .list-container {
      width: 100%;
    }
  }
}